BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlwaysBreakAfterDefinitionReturnType: All
ColumnLimit: 0
PointerAlignment: Right
SpaceAfterCStyleCast: true
AlignTrailingComments: true
